@using Capstone.Web.Models.ViewModels
@model MealRecipeViewModel

@{
    ViewBag.Title = "CreateMeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin:10px">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>Create Meal</h2>
        </div>
    </div>
    @using (Html.BeginForm("CreateMeal", "Meal", FormMethod.Post))
    {

        <div class="row">
            <div class="col-md-6 col-lg-offset-3"><h1>Add a new meal</h1></div>

            <div class="col-md-10 col-md-offset-1" style="border:1px solid grey">
                <div class="row">
                    <div class="col-md-4">
                        <br />
                        @Html.TextBoxFor(m => m.MealName, new { placeholder = "Enter Meal Name", @class = "form-control form-control-lg" })
                        <br />
                    </div>
                </div>
                @*<div class="wrapper">

                            <div class="row">
                                <div class="col-md-6">
                                    <h1>@Html.DropDownListFor(m => m.RecipeList, new MealRecipeViewModel().RecipeList )</h1>

                                    @Html.DropDownList("MealType", MealRecipeViewModel.MealTypes, new { placeholder = "please select type of meal" })

                                </div>
                            </div>

                    </div>*@

                <div class="wrapper">
                    <div class="col-md-6 checkbox_fields_wrap">

                        <div class="cloneCheckBox">
                            @Html.DropDownList("RecipeIds", Model.RecipeList, new { placeholder = "Please select Recipe to Meal" })
                            @Html.DropDownList("MealType", MealRecipeViewModel.MealTypes, new { placeholder = "please select type of meal", @id = "mealtype" })
                            <a href="#" class="remove_checkbox">Remove</a>
                        </div>
                        <input type="hidden" name="RecipeAndMealType[0]" value=""><button class="add_checkbox_button btn btn-success">Add Another Recipe</button>


                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Create Meal</button>

            </div>
        </div>
    }
</div>


