
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Capstone.Web.Models.ViewModels
@model List<RecipeViewModel>

<h2>HOME PAGE</h2>

@{
    foreach (RecipeViewModel recipeViewModel in Model)
    {
        <div>@recipeViewModel.RecipeName</div>

        <div>Steps</div>

        foreach (var steps in recipeViewModel.PrepSteps)
        {
            <div>@steps</div>
        }


        foreach (var ingredient in recipeViewModel.RecipeIngredient)
        {
            <div>IngredientName: @ingredient.Ingredient_Name </div>
                <div>Measurement: @ingredient.Measurement</div>
                <div>Quantity: @ingredient.Quantity</div>
        }
    }
}

