@model Capstone.Web.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="register">
    <h2>Register</h2>

    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        <div class="form-group">
            <div>
                <div class="has-error">
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="has-error">
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
                <div class="has-error">
                    @Html.ValidationMessageFor(m => m.ConfirmEmailAddress)
                </div>
                <div class="has-error">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
               <div class="has-error">
                    @Html.ValidationMessageFor(m => m.Password)
               </div>
              
            </div>


            <div>
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Nickname", @class = "form-group" })
            </div>
            <div>
                @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Enter email", @class = "form-group" })
            </div>
            <div>
                @Html.TextBoxFor(m => m.ConfirmEmailAddress, new { placeholder = "Confirm email", @class = "form-group" })
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-group" })
            </div>
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-group" })
            </div>

            <button class="btn btn-primary">Register</button>

        </div>
    }
</div>
