@using Capstone.Web.Models.ViewModels
@model RecipeViewModel
@{
    ViewBag.Title = "CreateRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container createRecipe">
    <h2>Create a recipe</h2>
    @using (Html.BeginForm("CreateRecipe", "Recipe", FormMethod.Post))
    {
        
        <div class="recipeForm">
            @*<div>
                @Html.ValidationMessage("NUMBERS ONLY")
            </div>*@
            <table class="form-group" >
                <tbody>
                    <tr>
                        <td>@Html.TextBoxFor(m => m.RecipeName, new { placeholder = "Recipe Name" })</td>
                    </tr>
                    <tr>
                        <td>@Html.TextAreaFor(m => m.RecipeDescription, new { placeholder = "Recipe Description" })</td>
                    </tr>
                    <tr>
                        <td>@Html.DropDownListFor(m => m.RecipeType, RecipeViewModel.RecipeTypes, "Choose a recipe type")</td>
                    </tr>
                    <tr>
                        <td> 
                            @Html.TextBoxFor(m => m.RecipeCookTimeInMinutes, new { placeholder = "Cook Time in Minutes" }) 
                            @Html.ValidationMessageFor(m => m.RecipeCookTimeInMinutes)
                        </td>
                    </tr>

                    @for (int i = 0; i < 5; i++)
                        {
                            <tr>
                                <td>@Html.TextBoxFor(m => m.IngredientName, new { placeholder = "ingredient" })</td>
                                <td>@Html.TextBoxFor(m => m.QuantityOfIngredients, new { placeholder = "Quantity" })</td>
                                <td>@Html.DropDownListFor(m => m.Measurement, RecipeViewModel.Measurements, "Choose a measurement type")</td>
                            </tr>
                        }
                   @for (int i = 0; i < 3; i++)
                   {
                    <tr>
                        <td colspan="3">@Html.TextBoxFor(m => m.Steps, new { placeholder = "preparationsteps" })</td>
                       
                    </tr>
                   }
                    
                </tbody>
            </table>
            <table class="form-group" id="myTable">
                <tbody>

                    <tr>
                        <td colspan="3" placeholder="preparationsteps"> </td>

                    </tr>
                   

                </tbody>
            </table>
            @*  <button #addItem> Add Ingredient </button>*@
            
            <div class="createButton">
                <button class="btn-default"> Create Recipe </button>
            </div>
            <p>@Session[SessionKeys.EmailAddress]</p>
            <p>@Session[SessionKeys.UserId]</p> 
        </div>
    }
</div>
<a href="">
    <img src="~/Content/img/AddImage.png" id="addItem" alt="Add Ingredient" onclick="addItem(), getData(e);" style="max-height:20px" />
</a>

<button onclick="myCreateFunction()">Add Prepartion Step</button>
<button onclick="myDeleteFunction()">Delete Preparation Step</button>

<script>
function myCreateFunction() {
    var table = document.getElementById("myTable");
    var row = table.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = "Preparation Step"
        //"${@Html.TextBoxFor(m => m.Steps, new { placeholder = "preparationsteps" })}"; 
    
}

function myDeleteFunction() {
    document.getElementById("myTable").deleteRow(0);
}
</script>
@*<script>
                        $(document).ready(function(){
                            $("#addItem").click(function(){
                                $("tr").append(
                                    <tr>
                                <td><input id="IngredientName" name="IngredientName" placeholder="ingredient" type="text" value="" /></td>
                                <td><input id="QuantityOfIngredients" name="QuantityOfIngredients" placeholder="Quantity" type="text" value="" /></td>
                                <td><select id="Measurement" name="Measurement"><option value="">Choose a measurement type</option>
                                <tr>
                                    );
                            });
                        });
</script>*@