@using Capstone.Web.Models.ViewModels
@model RecipeViewModel

@{
    ViewBag.Title = "CreateRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #sortable, #ingred {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60%;
    }
        #sortable li, #ingred li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 18px;
        }
            #sortable li span, #ingred li span {
                position: absolute;
                margin-left: -1.3em;
            }
    .ui-draggable, .ui-droppable {
        background-position: top;
    }
</style>
<div class="form-group-lg">
    @using (Html.BeginForm("CreateRecipe", "Recipe", FormMethod.Post))
    {
        <div>
            @Html.TextBoxFor(m => m.RecipeName, new { placeholder = "Enter Recipe Name", @class = "form-control form-control-lg", @id = "lgFormGroupInput" })
            @Html.TextAreaFor(m => m.RecipeDescription, new { placeholder = "Enter Recipe Description", @class = "form-control", @row = "3" })
            <br />
            <ul id="ingred">
                <li class="ui-state-default">
                    <div style="display: inline-flex">
                        @Html.TextBox("nextQuantity", null, new { placeholder = "Quantity", @class = "form-group", @id = "nextQuantity" })
                        @Html.DropDownList("measurementType", RecipeViewModel.Measurements, new { placeholder = "Please Select Measurement", @class = "form-group", @id = "measurementType" })
                        @Html.TextBox("nextIngredient", null, new { placeholder = "Ingredient", @class = "form-group", @id = "nextIngredient" })
                        @*@Html.DropDownListFor(m => m.RecipeType, RecipeViewModel.RecipeTypes, new { placeholder = "Please select the Recipe Type", @class = "form-group" })
                            @Html.TextBoxFor(m => m.RecipeCookTimeInMinutes, new { placeholder = "Cook Time", @class = "form-group" })*@
                    </div>
                </li>
            </ul>
            <br />
            <div class="container">
                <ul id="sortable" class="form-group-lg">
                    <li class="ui-state-default ingredientList recipeIngredient">
                        <h3 class="clone">
                            Ingredients
                        </h3>
                    </li>
                </ul>
            </div>
            <div class="container-fluid">
                <ul>
                    <li>
                        @Html.TextBox("nextStep", null, new { placeholder = "Please enter preparation steps (press ENTER after each step)", @class = "form-control form-control-lg", @id = "nextStep" })
                    </li>
                </ul>
            </div>
            <ul id="sortable" class="form-group-lg">
                <li class="ui-state-default preparationSteps steps">
                    <h2>Preparation Steps</h2>
                </li>
            </ul>
            <input type="submit" value="Create" class="createButton btn-default" autofocus>
        </div>
    }
</div>
<script>
    var ingredientCount = 0;
    var stepCount = 0;

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    $(function () {
        $("#sortable").sortable();
        //$("#ingred").disableSelection();
    });
    $("li").on('keyup', function (e) {
        if (e.keyCode == 13) {
            
                var current = $(".ingredientList").last();
                var cloned = current.clone();
                var ingredient = $("#nextIngredient").val();
                var measurement = $("#measurementType").val();
                var quantity = $("#nextQuantity").val();

                var input = document.createElement('input');
                input.type = "hidden";
                var ingredientName = "ingredientName[" + ingredientCount + "]";
                input.name = ingredientName;
                input.value = [ingredient, measurement, quantity];
                $("#steps").append(input);
                ingredientCount++;

                cloned.find("h3").html(quantity + " " + measurement + " " + ingredient);
                $("#nextIngredient").val("");
                $("#measurement").val("");
                $("#quantity").val("");
                cloned.insertAfter(current);
            
            
                //var current = $(".preparationSteps").last();
                //var cloned = current.clone();
                //var prepStep = $("#nextStep").val();

                //var input = document.createElement('input');
                //input.type = "hidden";
                //var preparationStep = "Steps[" + stepCount + "]";
                //input.name = preparationStep;
                //input.value = [prepStep];
                //$("#steps").append(input);
                //stepCount++;


                //cloned.find("h2").html(prepStep);
                //$("#steps").val("");
                //cloned.insertAfter(current);

        }
    });

    //$("li").on('keyup', function (e) {
    //    if (e.keyCode == 13) {


    //    }
    //});
</script>

@*<script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });

        });
        //make a hidden input value and then put them into an order
    </script>*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

