@using Capstone.Web.Models.ViewModels
@model RecipeViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
</head>

<section>
    @if (TempData["action"] != null)
    {
        <div class="alert alert-success" role="alert">
            <h5>Succesfully added recipe!</h5>
        </div>

        
    }
    <div class="flex-item1">
        
        <div class="div-image">
        <img src="~/Recipe-Images/@(Model.RecipeImageName)" />
    </div>
        <div class="div-content">
            <h2><strong>@Model.RecipeName</strong></h2>
            <p>@Model.RecipeType</p>
            <p><strong>Cook Time </strong> @(Model.RecipeCookTimeInMinutes) minutes </p>
            <p>@Model.RecipeDescription</p>
        </div>
    </div>

    <div class="flex-item2">
        <p><strong>Ingredients</strong></p>
        <ul>
            @for (int i = 0; i < Model.RecipeIngredient.Count; i++)
            {
                <li>@*@Model.RecipeIngredient[i].Quantity @Model.RecipeIngredient[i].Measurement*@ @Model.RecipeIngredient[i].Ingredient_Name</li>
            }
        </ul>
    </div>

    <div class="flex-item3">
        <p><strong>Preparation</strong></p>
        <ol>
            @foreach (var step in Model.PrepSteps)
            {
                <li>
                    @step
                </li>
            }
        </ol>
        <br />
        <br />
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                @*<input type="Modify" value="Modify" class="createButton btn-primary" autofocus>*@
                <a href ="/Recipe/ModifyRecipeView?RecipeId=@Model.RecipeId" class="btn btn-primary">Modify</a>
               
                
            </div>

        </div>
</section>



