
@model Capstone.Web.Models.User

<ul class="nav navbar-nav">
    <li><a href="~/Home">Home</a></li>
    @*<li><a href="Recipe/CreateRecipe">Create Recipe</a></li>*@
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="Recipe/Recipes">
            Recipes
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("My Recipes", "Index", "Recipe")</li>
            <li>@Html.ActionLink("Add Recipe", "CreateRecipe", "Recipe")</li>
            <li>@Html.ActionLink("Modify Recipe", "ModifyRecipeView", "Recipe")</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="Recipe/Recipes">
            Meals
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("My Meals", "Index", "Meal")</li>
            <li>@Html.ActionLink("Create Meal", "CreateMeal", "Meal")</li>
            <li>@Html.ActionLink("Modify Meal", "ModifyMeal", "Meal")</li>
        </ul>
    </li>

</ul>
<ul class="nav navbar-nav navbar-right list-inline">

    <li><a href=""> Hi @Session[SessionKeys.Username]</a></li>

    <li>@Html.ActionLink("Logout", "Logout", "User")</li>

</ul>

